.Card{
flex-basis: 30%;
/* width: 350px; */
height: 450px;
border-radius: 30px;
box-shadow: inset 3px 3px 15px rgba(0, 0, 0, 0.2);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
transition: all .3s ease-in;
background-repeat: no-repeat;
background-size: cover;
margin-bottom: 50px;
}
.Card:hover{
    transition: all .3s ease-out;
    cursor: pointer;
    transform: scale(1.02);
}