.Button{
width: 200px;
height: 60px;
background: #292A2B;
box-shadow: 0px 20px 35px rgba(41, 42, 43, 0.15);
border-radius: 10px;
display: flex;
justify-content: space-around;
align-items: center;
font-size: 1.2rem;
cursor: pointer;
transition: all .3s ease-in;
}
.Button:hover{
background: #292A2B;
transition: all .3s ease-out;
transform: scale(1.02);
}

@media screen and (max-width: 800px) {
    .Button{
        width: 100px;
        height: 50px;
        font-size: 1rem;
    }
  }